.BarraSuperior {
  animation: gradientMove 2s linear infinite;
  padding: 17px 10px;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  height: 60px;
  background: linear-gradient(180deg, var(--color-negro)  var(--color-rojo), var(--color-negro));
  color: var(--color-blanco);
  
}

.BarraSuperior-Titulo {
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  margin: 0;
  margin-left: 10px;
  color: white;
}

.Menu {
  width: 250px;
  height: calc(100vh - 80px);
  background: rgba(255, 255, 255, 0); /* transparente por defecto */
  color: #000;
  position: fixed;
  left: 0;
  top: 70px;
  padding: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  z-index: 1000;
  transition: transform 0.3s ease, background 0.3s ease;
  transform: translateX(-100%);
  border-radius: 0 8px 8px 0;
}

/* Cuando el menú está abierto */
.Menu-Abierto {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .Menu {
    width: 100vw;
    height: 100dvh; /* altura dinámica real del viewport */
    background: rgba(0, 0, 0, 0.85);
    border-radius: 0;
    top: 0;
  }
}

.Logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  filter: brightness(1) invert(0);
  transition: all 0.3s ease;
}



.Logo-Activo {
  border: 2px solid #fff;
  opacity: 0.8;
}

.Menu-Lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Menu-Elemento {
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  color: #ffffff;
}

.Menu-Elemento-Activo {
  color: #000000;
  background: #e0e0e0;
  font-weight: bold;
}

.Menu-Elemento-Contenido {
  display: flex;
  align-items: center;
}

.Menu-Elemento-Hover {
  background: #000000;
}

.Menu-Elemento-Icono {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  filter: brightness(0);
  filter: invert();
}

.MenuElementoIconoSeleccionado {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  filter: brightness(0);
}

.BotonLogin {
  position: absolute;
  right: 20px;
  top: 12px;
  padding: 10px 20px;
  background: linear-gradient(135deg, #e53935, #ff1744);
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 0.95rem;
  font-weight: 500;
  font-family: "Helvetica", Arial, sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(229, 57, 53, 0.4);
}

.BotonLogin:hover {
  transform: translateY(-2px);
  background: linear-gradient(135deg, #ff5252, #f44336);
  box-shadow: 0 6px 15px rgba(244, 67, 54, 0.5);
}

.BotonLogin:active {
  transform: translateY(0);
  box-shadow: 0 2px 6px rgba(229, 57, 53, 0.3);
}