
:root {
  --color-negro: #880202;
  --color-blanco: #ffffff;
  --color-morado: #6a0dad;
  --color-rojo: #ff0040;
  --color-gris-oscuro: #1a1a1a;
  --color-gris-claro: #bfbfbf;
}

@keyframes gradientMove {
  0% { background-position: 0% 0%; }
  100% { background-position: 200% 0%; }
}

body{
   display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.AccionesTitulo {
  font-size: 1.2rem;
  color: #a79797;
  text-align: center;
  margin-bottom: 20px;
  padding: 0px 10px 0px 10px;
  font-weight: 800;
  text-shadow: 0 0 10px rgba(255, 0, 102, 0.5);
  letter-spacing: 1px;
}

main {
  flex: 1; /* ocupa el espacio restante */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
  background: linear-gradient(to bottom, var(--color-negro), #010101,var(--color-gris-oscuro));
  background-repeat: no-repeat;
  background-size: 100% 100%; /* ocupa toda la altura y ancho */
  background-attachment: fixed; /* se mantiene al hacer scroll */
  color: var(--color-blanco);
}

@media (max-width: 480px) {
  body {
    padding: 0 0px;
    overflow-x: hidden;
  }

 
  .search-filter-container {
    flex-direction: column;
    gap: 12px;
    margin: 20px 0;
  }

  .search-input,
  .filter-select {
    width: 100%;
    max-width: 320px;
    font-size: 0.9rem;
  }


}


